.body-login{
    background-color: #f2f2f2;
    margin: 0px;
    
}

.wrapper{
    padding-top: 70px;
}


.container{
    width: 600px;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    clear: both;
    margin: auto;
    font-size: .875rem;
    font-family: Noto Sans, Arial, sans-serif;
}

.container .login{
    padding: 30px;
    background-color: #fff;
    box-sizing: border-box;
    
}

.container .login .title{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 17px;
}

.container .login .login-via{
    margin-bottom: 35px;
}

.container .login .login-via .item{
    text-transform: uppercase;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
    border-radius: 7px;
}

.container .login .login-via .item.phone{
    background-color: green;
}

.container .login .login-via .item.phone .fa-solid{
    color: #6cc942;
}

.container .login .login-via .item.phone .fa-solid.fa-mobile-screen-button{
    position: absolute;
    top: 5px;
    left: 7px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.container .login .login-via .item.face .fa-facebook-f{
    color: #187caa;
}

.container .login .login-via .item.face .fa-brands.fa-facebook-f{
    position: absolute;
    top: 5px;
    left: 7px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.container .login .login-via .item.gg .fa-google-plus-g{
    color: #cf2127;
}

.container .login .login-via .item.gg .fa-brands.fa-google-plus-g{
    position: absolute;
    top: 5px;
    left: 7px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}


.container .login .login-via .item.face{
    background-color: #187caa;
}
.container .login .login-via .item.gg{
    background-color: #cf2127;
}

.container .login .text{
    font-size: 14px;
    color: #464646;
    text-align: center;
    margin-bottom: 15px;
}

.login .field-gr{
    border-radius: 4px;
    border: 1px solid #959595 ;
    overflow: hidden;
    margin-bottom: 10px;
    
}

.login .field-gr .input-gr{
    border: 1px solid #959595 ;
    align-items: center;
    position: relative;
    
}

.login .field-gr .input-gr input{
    border: 0;
    border-radius: 0;
    background-color: #fff;
    padding: 9px 10px 9px 33px;
    overflow: visible;
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
}

.login .field-gr .fa-regular.fa-envelope{
    color: #9fa9aa;
    position: absolute;
    top: 9px;
    left: 8px;
    font-weight: 400;
    

}

.login .field-gr .fa-solid.fa-lock{
    color: #9fa9aa;
    position: absolute;
    top: 8px;
    left: 8px;
}

.login .input .save .left{
    float: left;
    
}

.login .input .save .left input[type="checkbox"  ] {
    margin-left: 0px;
}


.login .input .save .left label{
    vertical-align: text-bottom;
    padding-left: 1px;
    margin-bottom: 0px;
}

.login .input .save .right{
    float: right;
}

.login .input .save .right>a{
    text-decoration: none;
    color: #0288d1;
}

.login .sign-in{
    color: #fff;
    width: 100%;
    background-color: #0288d1;
    border: 1px solid #0288d1;
    border-radius: 3px;
    line-height: 1.5;
    padding: 6px 0;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
.login .sign-in:active {
    opacity: 0.9;
}
.login .login-policy{
    text-align: center;
    color: #707070;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login .login-policy>a{
    text-decoration: none;
    color: #0495ba;
    border-bottom: 2px solid ;
    font-size: 16px;
    
}

a{
    text-decoration: none;
}


