@media screen and (max-width:1700px) and (min-width:1050px){
    .container-header .header-content .logo {
        position: static;
    }
    .container-header .header-content .nav {
        width: 657px;
    }
    .container-header .header-content .app-driver {
        position: static;
    }
}
@media screen and (max-width:1050px) {
    .container-header .header-content .logo {
        position: static;
    }

}