
@media screen and (max-width:1700px) and (min-width:1200px){
    .container-header .header-content .logo {
        position: static;
    }
    .container-header .header-content .nav {
        width: 657px;
    }
    .container-header .header-content .app-driver {
        position: static;
    }
}
@media screen and (max-width:1199px) and (min-width:905px){
    .container-header .header-content .logo {
        position: static;
        margin: 0 10px;
    }
    .container-header .header-content .nav {
        /* display: none; */
        width: auto;
        padding-left: 20px;
    }
    .header-content .nav li {
        padding: 26px 5px 21px;
    }
}
@media screen and (max-width:904px){
    .container-header .header-content {
        justify-content: space-evenly;
    }
    .container-header .header-content .logo {
        position: static;
        margin: 0 10px 0 10px;
    }
    .container-header .header-content .nav {
        display: none;
    }

}
@media screen and (max-width: 600px) {
    /* HEADER */
    .container-header .header-content {
        justify-content: space-evenly;
    }
    .container-header .header-content .logo {
        position: static;
        margin: 0 10px 0 10px;
    }
    .container-header .header-content .nav {
        display: none;
    }
    .container-header .header-content .login {
        display: none;
    }
    



    /* FOOTER */
    .container-footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .container-footer .apps-dowload span {
        align-items: center;
    }
    .container-footer .social-media  {
        width: 100%;
    }
    .container-footer .addr-company {
        text-align: center;
    }
}

