
.body-food{
    background-color: #f2f2f2;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464646;
}

header{
    width: 100%;
    height: 50px;
    background-color: black;
}

.details-restaurant{
    
    padding-top: 30px;
    background-color: #fff;
    box-sizing: border-box;
    
}

.details-restaurant .container{
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
}

.details-restaurant .details-restaurant-img {
    width: 480px;
    height: 300px;
    float: left;
    position: relative;
    
}

.details-restaurant .details-restaurant-img img{
    width: 100%;
    height: 100%;
}

.details-restaurant .details-restaurant-info{
    float: right;
    width: 645px;
    margin-bottom: 15px;
}

.details-restaurant .details-restaurant-info .breadcrumb{
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 18px;
    overflow: hidden;
    margin-top: -2px;
}

.details-restaurant .details-restaurant-info .breadcrumb .breadcrumb-item{
    float: left;
    position: relative;
    padding-right: 4px;
}

.details-restaurant .details-restaurant-info .breadcrumb .breadcrumb-item::after{
    content: "\BB";
    color: #0288d1;
    display: inline-block;
    padding-left: 4px;
}

.details-restaurant .details-restaurant-info .breadcrumb .breadcrumb-item:last-child::after{
    content: none;
}

.details-restaurant .details-restaurant-info .breadcrumb .breadcrumb-link{
    font-size: 13px;
    color: #187caa;
}

.details-restaurant .details-restaurant-info .breadcrumb a{
    text-decoration: none;
    background-color: transparent;
}

.details-restaurant .details-restaurant-info .kind-restaurant{
    font-size: 11px;
    color: #959599 ;
    text-transform: uppercase;
    display: flex;

}

.details-restaurant .details-restaurant-info .name-restaurant{
    margin-top: 0px;
    font-size: 22px;
    color: #464646;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 4px;
    line-height: 33px;
}

.details-restaurant .details-restaurant-info .address-restaurant{
    font-size: 13px;
    margin-bottom: 2px;
}

.details-restaurant .details-restaurant-info .rating{
    margin-bottom: 4px;
    font-size: 14px;
    display: flex;
}

.details-restaurant .details-restaurant-info .rating .star{
    font-size: 14px;
    color: #ffc107;
    display: inline-block;
}

.details-restaurant .details-restaurant-info .rating .star>span{
    padding-right: 0px;
}

.fa , .fas {
    font-weight: 900;
}

.details-restaurant .details-restaurant-info .rating .number-rating{
    background-color: #ffc107;
    color: #f2f2f2;
    padding: 0 5px;
    border-radius: 4px;
    margin: 0 5px;
}

.details-restaurant .details-restaurant-info .view-more-rating{
    margin-bottom: 4px ;
}

.details-restaurant .details-restaurant-info .view-more-rating a{
    font-size: 14px;
    text-decoration: none;
    color: #0288d1;
    
}

.details-restaurant .details-restaurant-info .status-restaurant{
    margin-bottom: 6px;
}

.details-restaurant .details-restaurant-info .opentime-status{
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
}

.details-restaurant .details-restaurant-info .status-restaurant .opentime-status .stt{
    width: inherit;
    height: inherit;
    vertical-align: middle;
    display: inline-block;
    background-color: transparent;
    
}

.details-restaurant .details-restaurant-info .status-restaurant .opentime-status .online{
    color: #329900;
}

.details-restaurant .details-restaurant-info  .status-restaurant .opentime-status .online:before{
    background-color: #329900;
}

.details-restaurant .details-restaurant-info  .status-restaurant .opentime-status .stt:before{
    content: "";
    border-radius: 50%;
    color: #329900;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top:-1px;
    z-index: 2;
}

.details-restaurant .details-restaurant-info .status-restaurant .opentime-status .stt:after{
    content: attr(title);
    font-size: 15px;
    display: inline-block;
    white-space: nowrap;
    color: inherit;
    padding-left: 5px;
}

.details-restaurant .details-restaurant-info .status-restaurant .time{
    display: inline-block;
    padding-left: 10px;
    font-size: 15px;
    vertical-align: middle;
}

.details-restaurant .details-restaurant-info .status-restaurant .time .fa-clock{
    color: #959595;
    margin-right: 3px;
}

.details-restaurant .details-restaurant-info .cost-restaurant{
    display: inline-block;
    color: #959595;
    font-size: 15px;
}

.details-restaurant .details-restaurant-info .cost-restaurant .fas {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid;
    font-size: 8px;
    text-align: center;
    line-height: 15px;
    margin-top: 3px;
    margin-right: 3px;
    vertical-align: top;
}

.details-restaurant .details-restaurant-info .share-social{
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.details-restaurant .details-restaurant-info .share-social-box{
    display: inline-block;
}

.details-restaurant .details-restaurant-info .service{
    border-top: 1px solid #ebebeb;
    display: flex;
    
}

.details-restaurant .details-restaurant-info .service-item:first-child{
    padding-left: 0px;
    
}

.details-restaurant .details-restaurant-info .service-item{
    position: relative;
    width: 140px;
    padding: 10px;
    margin-bottom: 30px;
}

.details-restaurant .details-restaurant-info .service-item:after{
    content: "";
    width: 1px;
    height: 20px;
    position: absolute;
    top: 22px;
    left: 0px;
    background-color:#ebebeb;

}


.details-restaurant-info .service-item .service-title{
    color: #959595;
    font-size: 13px;
    text-transform: uppercase;
}

.details-restaurant-info .service-item .icon{
    background-image: url(partner-vi.png);
    position: absolute;
    cursor: pointer;
    top: 20px; 
    left: 15px;
    width: 116px;
    height: 44px;
    display: inline-block;
    line-height: 1;
} 

.details-restaurant-info .service-item .service-content{
    font-size: 14px;
}

.details-restaurant-info .service-item .service-content:first-child{
    border-right: 1px solid black;
}

.details-restaurant-info .service-item .service-text{
    color: #ee4d2d !important;
    font-weight: 700 !important;
    
}


.clear{
    clear: both;
}

