* {
    margin: 0;
}
html {
    font-family: "Noto Sans", Arial, sans-serif;
    scroll-behavior: smooth;
}
body {
    font-weight: 400;
    background-color: #f2f2f2;
    font-size: .875rem;
}
.nav li.active {
    border-bottom: 4px solid #ee4d2d;
    font-weight: 700;
    color: #ee4d2d;
}
.drop-down .dropdown-menu.show{
    display: block;
}
.container {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
.clear {
    clear: both;
}
a {
    text-decoration: none;
    color: #000;
}

/* HEADER */

.container-header {
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    left: 0;
    background-color: #fff;
    font-size: 14px;
}
.container-header .header-content {
    max-width: 1200px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
}
.container-header .header-content .logo {
    margin-right: 72px;
    position: absolute;
    right: 100%;
}
.header-content .logo img {
    height: 30px;
}
.header-content .drop-down {
    position: relative;
}
.header-content .drop-down .select-place {
    padding: 10px 27px 10px 19px;
    background-color: rgb(235 233 233);
    border-radius: 4px;
    cursor: pointer;
}
.drop-down .select-place i{
    position: absolute;
    top: 15px;
    right: 7px;
    font-size: 10px;
}
.drop-down .dropdown-menu {
    position: absolute;
    min-width: 215px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    top: 100%;
    left: -2px;
    margin-top: 2px;
    display: none;
}
.drop-down .dropdown-menu .place-items {
    display: flex;
    padding: 5px 5px 5px 8px;
    background-color: #fff;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
}
.dropdown-menu .place-items:hover {
    background-color: #f5f5f5;
}
.dropdown-menu .place-items p:first-child {
    padding: 0 10px;
    float: left;
    min-width: 70px;
}
.dropdown-menu .place-items p:last-child {
    padding: 0 10px;
    font-size: 12px;
    float: right;
    color: #9fa9aa;
}
.container-header .header-content .nav {
    padding-left: 42px;
    width: 877px;
    flex-grow: 1;
}
.header-content .nav li {
    display: inline-block;
    padding: 26px 12px 21px;
    border-bottom: 4px solid #fff;
    cursor: pointer;
}
.nav .li.active {
    border-bottom: 4px solid #ee4d2d;
}
.nav .li.active a{
    font-weight: 700;
    color: #ee4d2d;
}
.nav li a {
    text-decoration: none;
    color: black;
    box-sizing: content-box
}
.nav a:hover {
    color: red;
}
.container-header .header-content .login {
    padding: 0 10px;
}
.container-header .header-content .search {
    padding: 0px 10px;
    padding-top: 6px;
}
.header-content .search .ti-search {
    font-size: 24px;
    opacity: 0.7;
    cursor: pointer;
}
.header-content .login button {
    padding: 10px 14px;
    color: #ee4d2d;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #ee4d2d;
    cursor: pointer;
    background-color: #fff;
}
.header-content .login button:hover {
    border-color: #f17c65;
    color: #f17c65;
}
/* BODY */
.content {
    padding-top: 70px;
}
.content .wall-banner {
    height: 100vh;
    background-image: url(../img/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 70px;
    width: 100%;
    margin-bottom: 75px;
    overflow: hidden;

}
.content .wall-banner .container-content {
    max-width: 1200px;
    position: relative;
    height: 100%;
    margin: auto;
}
.wall-banner::-webkit-scrollbar {
    display: none; 
}
.wall-banner .container-content .side-search {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 470px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -30px;
    margin-left: 20px;
}
.container-content .side-search h1 {
    font-size: 24px;
    margin-bottom: 5px;
}
.container-content .side-search p {
    font-size: 15px;
}
.container-content .side-search .form-search {
    padding: 27px 0 40px;
    width: 100%;
    position: relative;
    display: flex;
}
.side-search .form-search input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 0 75px 0 10px;
    border-radius: 6px 10px 10px 6px;
    border: 0;
    outline: none;
}
.side-search .form-search a {
    position: absolute;
    right: 0px;
    top: 27px;
    width: 70px;
    height: 50px;
}
.side-search .form-search  button {
    font-size: 25px;
    padding: 13px;
    color: #fff;
    border: 0;
    background-color: #0288d1;
    height: 100%;
    border-radius: 0 6px 6px 0;
    width: 100%;
    cursor: pointer;
}
.side-search .food-list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.side-search .food-list ul li {
    padding: 0 15px 15px 0;
}
.side-search .food-list a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 7px 21px;
    border: 1px solid  ;
    border-radius: 6px;
    display: block;
    transition: all .3s ease;
}
.side-search .food-list a:hover {
    background-color: #fff;
    color: black;
    animation-delay: 0.5s;
}
.side-search .app-dow p {
    font-size: 18px;
    line-height: 28px;
    margin: 16px 0 8px;

}
.side-search .app-dow .img-app {
    display: flex;
}
.app-dow .img-app a {
    width: calc(100% / 2 - 34px);
}
.app-dow .img-app a:hover {
    opacity: 0.9;
}
.app-dow .img-app img {
    transform: scale(.75);
    border: 2px solid #fff;
    border-radius: 12px;
    transform-origin: left;
}
.container-scroll-home::after {
    display: block;
    clear: both;
    content: "";
}
.container-scroll-home .container-items-food {
    float: right;
    width: 670px;
    margin-top: 48px;
    position: relative;
    z-index: auto;
    margin-bottom: 75px;
    min-height: calc(100vh - 123px);
}
.container-scroll-home .container-items-food .get-place {
    padding: 14px 17px 14px 40px;
    background-color: #fff;
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
}
.container-items-food .get-place i {
    font-size: 10px;
    font-weight: bold;
}
.container-items-food .get-place p:first-child {
    color: #0288d1;
    font-weight: 700;
}
.container-items-food .get-place p:first-child i {
    padding-left: 5px;
}
.container-items-food .get-place p:nth-of-type(2) {
    padding-left: 15px;
    flex-grow: 1;
}
.container-items-food .list-items-food .area-items {
    background-color: #fff;
    padding: 13px 40px 10px;
    border-radius: 6px;
    border: 1px solid #d7d7d7;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-items-food .area-items >button {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    background-color: #fff;
    border: none;
    color: #0288d1;
    margin: 3px auto;
    cursor: pointer;
    font-family: inherit;
}
.list-items-food .area-items >button:active>i {
    animation: spin 1s linear infinite;
}
.list-items-food .area-items .title-area{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.area-items .title-area p{
    font-size: 16px;
    font-weight: 700;
}
.area-items .title-area a{
    text-decoration: none;
    font-size: 14px;
    color: #0288d1;
}
.area-items .title-area a i{
    font-size: 8px;
}
.list-items-food .area-items .items-restaurant {
    display: flex;
    margin: 0 -8px;
    flex-wrap: wrap;
}
.area-items .items-restaurant .item-food  {
    width: calc(100%/3 - 16px);
    padding: 8px;
    position: relative;
}
.items-restaurant .item-food a{
    text-decoration: none;
    color: black;
    border-radius: 6px;
    display: block;
}
.items-restaurant .item-food > a:hover {
    transition: box-shadow .25s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2), 0 4px 15px 0 rgba(0, 0, 0, .19);
}
.items-restaurant .item-food .img-food {
    position: relative;
    height: 116px;
    border-radius: 6px 6px 0 0;
}
.items-restaurant .item-food img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.items-restaurant .item-food .tag-like {
    position: absolute;
    font-size: 14px;
    color: #fff;
    padding: 4px 7px;
    background-color: #f13233;
    bottom: 4px;
    left: 6px;
}
.items-restaurant .item-food .infor-item {
    border: 1px solid #d7d7d7;
    border-radius: 0 0 5px 5px;
    padding: 6px 8px;
}
.item-food .infor-item h4 {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item-food .infor-item .addr-item {
    font-size: 12px;
    color: #959595;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 5px;
}
.item-food .infor-item .item-promotion {
    font-size: 13px;
    padding: 10px 2px 1px;
    color: #187caa;
    font-weight: 700;
    border-top: 1px solid #ebebeb;
}
.infor-item .item-promotion i{
    font-size: 15px;
    color: #cf2127;
}
.items-restaurant .item-food .opentime-status {
    width: 15px;
    height: 15px;
    background-color: rgb(35, 152, 57);
    border-radius: 50%;
    position:absolute;
    top: 4px;
    left: 5px;
    z-index: 2;
    cursor: pointer;
    border: 1px solid #fff;
}
.area-items.collection .items-restaurant .infor-item {
    border: none;
}
.area-items.collection .img-food {
    height: 186px;
}
.items-restaurant .infor-item p{
    font-size: 12px;
    color: #0288d1;
}
.area-items.diverse .title-area {
    margin-top: 10px;
    font-size: 16px;
}
.area-items.diverse .title-area  ul {
    padding: 0;
    flex-grow: 1;
    line-height: 30px;
}
.area-items.diverse .title-area li {
    display: inline-block;
    color: #000;
    margin-right: 40px;
    font-size: 16px;
    cursor: pointer;
}
.area-items.diverse .title-area li:hover {
    color: #0288d1;
}
.area-items.diverse .title-area li:last-child  {
    margin: 0;
}
.area-items.diverse .title-area  .select-district {
    padding-left: 10px;
}
.title-area  .select-district select {
    padding: 6px 0 6px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.area-items.diverse .items-restaurant {
    display: flex;
    flex-direction: column;
}
.area-items.diverse .items-restaurant .item-food {
    width: 100%;

}
.area-items.diverse .items-restaurant .item-food a{
    display: flex;
}
.area-items.diverse .item-food .img-food {
    height: 90px;
    width: 35%;
}
.area-items.diverse .img-food img {
    border: 5px;
}
.area-items.diverse .item-food .infor-item {
    display: flex;
    border: none;
    padding: 0 0 0 15px;
    width: 100%;
    flex-wrap: wrap;
    font-size: 16px;
}
.area-items.diverse .infor-item img {
    width: 17px;
    height: 17px;
    padding-right: 2px;
}
.area-items.diverse .infor-item .title {
    width: 100%;
    font-weight: bold;
}
.area-items.diverse .infor-item .title span {
    padding-right: 2px;
}
.area-items.diverse .infor-item .place {
    width: 100%;
    font-size: 13px;
    color: #0288d1;
    margin-bottom: 4px;
}
.area-items.diverse .infor-item .price {
    width: 100%;
    font-size: 14px;
}
.area-items.diverse .infor-item .item-promotion {
    width: 100%;
    border: none;
    padding-top: 4px;
    font-size: 13px;
}
.content .des-coporation {
    max-width: 1200px;
    margin: 0 auto;
}
.content .des-coporation .item-des-cor {
    padding: 20px 150px 50px;
    border-radius: 4px;
    margin-top: 60px;
    position: relative;
    background-color: #fff ;
    box-shadow: 0 4px 6px  #ccc;
}
.des-coporation .item-des-cor h4 {
    font-size: 22px;
    margin-bottom: 10px;
}
.des-coporation .item-des-cor p {
    font-size: 15px;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, .6);
}
.item-des-cor img {
    width: calc(100% + 16px);
}
.des-coporation .item-des-cor.row-2 {
    padding: 53px 350px 53px 150px;
}
.des-coporation .item-des-cor.row-2 a{
    text-decoration: none;
    color: #0288d1;
}
.item-des-cor.row-2 span p {
    font-size: 14px;
}
.item-des-cor.row-2 img {
    position: absolute;
    right: 0px;
    width: 350px;
    bottom: -28px;
    transform: scale(.85);
}
.des-coporation .item-des-cor.row-3 {
    padding: 50px 350px 50px 150px;
}
.item-des-cor.row-3 a{
    text-decoration: none;
}
.item-des-cor.row-3 a:hover h4 {
    color: #015785;
}
.item-des-cor.row-3 a h4 {
    color: #0288d1;
}
.item-des-cor.row-3 h4 span {
    color: #EE4D2D;
}
.item-des-cor.row-3 p span {
    color: #EE4D2D;
    font-weight: bold;
}
.item-des-cor.row-3 p a {
    font-weight: bold;
    color: #4D77A2;
}
.item-des-cor.row-3 img {
    position: absolute;
    right: 66px;
    bottom: -33px;
    transform: scale(.8);
    width: auto;
}
.content .des-coporation .footer-content {
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.des-coporation .footer-content li {
    display: inline-block;
}
.des-coporation .footer-content a{
    text-decoration: none;
    color: rgba(0, 0, 0, .54);
}
.des-coporation .footer-content >p {
    color: rgba(0, 0, 0, .54);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.footer-content .body-footer ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.footer-content .body-footer ul li a:hover {
    color: #0288d1;
}
.footer-content .body-footer >ul{
    justify-content: space-between;
}
.footer-content .body-footer >ul >li {
    width: calc(100%/4 - 16px);
    padding: 3px 0;
    margin-bottom: 2px;
}
.footer-content .body-footer >ul>li>a {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.body-footer .sub-nav-item::after {
    content: "|";
    color: rgba(0, 0, 0, .54) !important;
    padding: 0 3px;
}
.body-footer .sub-nav-item:last-child:after {
    content: "";
}
/* FOOTER */
.container-footer {
    max-width: 1200px;
    padding-top: 32px;
    padding-bottom: 25px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.container-footer h4 {
    font-size: 16px;
    margin-bottom: 25px;
}
.container-footer .company  ul{
    list-style-type: none;
    padding: 0;
    line-height: 25px;
}
.container-footer .company a {
    text-decoration: none;
    color: #08f;
}
.container-footer .apps-dowload span {
    display: flex;
    flex-direction: column;
}
.container-footer .apps-dowload  a{
    margin-bottom: 25px;
    width: 55%;
}
.container-footer .apps-dowload img {
    width: 100%;
    border-radius: 6px;
}
.container-footer .social-media {
    width: 241px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-footer .social-media img {
    max-width: 100px;
    margin-top: 14px;
    margin-bottom: 17px;
    cursor: pointer;
}
.container-footer .social-media p {
    font-size: 12px;
    color: #959595;
}
.container-footer .social-media span {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.container-footer .social-media span a{
    text-decoration: none;
    margin: 0 8px;
}
.container-footer .social-media span a:hover p {
    background-color: #ba30a7;
}
.container-footer .social-media span p {
    font-size: 15px;
    padding: 8px 10px;
    background-color: #959595;
    border-radius: 50%;
}
.container-footer .social-media span p i {
    color: #fff;
}
.container-footer .addr-company {
    text-align: right;
}
.container-footer .addr-company p {
    margin-bottom: 3px;
    color: #464646;
}
.container-footer .addr-company a{
    text-decoration: none;
    color: #08f;
}
.container-footer .addr-company span>a {
    width: 177px;
    display: block;
    float: right;
}
.container-footer .addr-company img {
    width: 100%;
}
/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
    z-index: 100;
    display: none;
}
.modal.open {
    display: block;
}
.modal-container {
    width: 883px;
    background-color: #fff;
    margin: 5% auto 0;
    border-radius: 6px 6px;
    position: relative;
    animation: modalFadeIn linear 0.3s;
}
.modal-container >i {
    position:absolute;
    top: -24px;
    right: 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.modal-container.modal-fadeOut {
    animation: modalFadeOut ease-out 0.3s;
}
.modal-header {
    padding: 11px 15px 10px 18px;
    background-color: #ebebeb;
    border-radius: 6px 6px 0 0;
}
.modal-header h3 {
    font-size: 16px;
    color: #464646;
}
.modal-body .search-local {
    padding: 16px 20px 0;
}
.primary-place {
    position: relative;
}
.primary-place i {
    position: absolute;
    font-size: 20px;
    padding: 10px;
    opacity: 0.6;
}
.primary-place i:last-of-type {
    right: 0;
    cursor: pointer;
}
.primary-place input {
    width: 100%;
    padding: 10px 40px 10px 40px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #ccc;
    line-height: 18px;
    outline: none;
    font-size: 18px;
}
.find-map {
    padding: 18px 31px 18px 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.find-map i {
    padding: 4px;
    opacity: 0.6;
}
.find-map i:last-child {
    font-size: 10px;
}
.find-map p {
    padding-left: 12px;
    color: #0288d1;
    flex-grow: 1;
    flex-basis: 0;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes modalFadeOut {
    from{
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(-140px);
    }
}

/* Modal search */
.modal.search {
    background-color: rgba(0, 0, 0, .95);
}
.modal-search-container {
    width: 70%;
    max-width: 1140px;
    margin: 5% auto auto;
    animation: modalFadeIn linear 0.3s;
}
.modal-search-container .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    height: 100%;
}
.modal-search-container .modal-content >i {
    position:absolute;
    top: -24px;
    right: 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.modal-search-container .modal-content .modal-search-form {
    background: url(../img/bg-search.png) no-repeat;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 140px;
    text-align: center;
}
.modal-content .modal-search-form span {
    color: white;
    text-align: center;
    font-size: 16px;
}
.modal-content .modal-search-form input {
    font-size: 24px;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #6d6f71;
    line-height: 36px;
    color: #fff;
    outline: none;
    text-align: center;
    margin-top: 10px;
    transition: all .2s;
    padding: 1px 2px;
}
.modal-content .modal-search-form input:focus {
    border-bottom-color: #ebebeb;
    font-size: 18px;
}
.modal-content .modal-search-form .loading-spinner {
    border: 4px solid #fff;
    border-left-color: #4caf50;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
    margin: 4px auto;
    display: none;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}
.modal-search-container.modal-fadeOut {
    animation: modalFadeOut ease-out 0.3s;
}
.modal-content .modal-search-form .search-result {
    max-width: 940px;
    margin: auto;
    padding-top: 2px;
    background-color: #fff;
    display: none;
}
.modal-search-form .search-result .main-result {
    display: flex;
    flex-direction: column;
    height: 80%;
}
.search-result .main-result .product {
    width: 100%;
    height: 20%;
}
.main-result .product a {
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
    height: 100%;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    position: relative;
}
.main-result .product a:hover {
    background-color: #ebebeb  ;
}
.main-result .product .img-product {
    width: 70px;
    float: left;
    overflow: hidden;
    height: 40px;
}
.main-result .product .img-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.main-result .product .infor-product {
    padding-left: 10px;
    padding-right: 95px;
    overflow: hidden;
    text-align: left;
    line-height: 20px;
}
.product .infor-product .name-product {
    font-size: 14px;
    font-weight: bold;
}
.product .infor-product .addr-product {
    font-size: 13px;
    color: #959595;
}
.main-result .product .opentime-status {
    position: absolute;
    top: 34%;
    right: 3%;
}
.product .opentime-status span {
    color: rgb(35, 152, 57);
    font-size: 13px;
    margin-right: 8px;
}
.product .opentime-status::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgb(35, 152, 57);
    border-radius: 50%;
    top: 7px;
}
.search-result .footer-search .container-footer-search {
    color: #252525;
    cursor: pointer;
    background-color: #ebebeb;
    padding: 10px 15px;
    position: relative;
    text-align: left;
}
.footer-search .container-footer-search span:first-child {
    width: 30px;
    height: 30px;
    background-color: #cf2127;
    display: inline-block;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 10px;
}
.footer-search .container-footer-search i {
    font-weight: bold;
    font-size: 14px;
}
.footer-search .container-footer-search .key-word {
    color: #cf2127;
    font-weight: 700;
    font-size: 14px;
}
.top-control {
    position: fixed;
    right: 0;
    bottom: -1px;
    width: 40px;
    background: #c2c2c2;
    font-size: 12px;
    z-index: 999;
    transition: transform .4s;
    transform: translateY(100%);
}
.top-control.active {
    transform: translate(0);
}
.top-control .container-control {
    display: flex;
    flex-direction: column;
}
.top-control .container-control .control-link {
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #00000026;
    cursor: pointer;
    position: relative;
}
.container-control .control-link:hover label {
    display: block;
}
.container-control .control-link label {
    color: #464646;
    position: absolute;
    background: #ebebeb;
    top: 0;
    right: 100%;
    bottom: 0;
    padding: 10px;
    margin-bottom: 0;
    display: none;
    white-space: nowrap;
}
.top-control .container-control i {
    font-size: 20px;
    color: #464646;
    line-height: 25px;
}

/* ----------------------------------------------------- */

